:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1;
  font-weight: 600;
  background-color: #242424;
  font-size: small;

}


body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  line-height: 1;
  font-weight: 600;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}

